## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Weather_Database/WeatherPy_vacation.csv")
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,76.59,broken clouds,9.4942,50.8122,JABIR HOTEL
1,Rikitea,PF,72.82,scattered clouds,-23.1203,-134.9692,People ThankYou
2,Komsomolskiy,UZ,74.12,clear sky,40.4272,71.7189,Ikathouse
3,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Georgetown,MY,79.90,overcast clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
280,Puerto Asis,CO,79.81,broken clouds,0.5133,-76.5007,Ayawaska Hostal
281,Galle,LK,77.16,overcast clouds,6.0367,80.2170,Amangalla
282,Rabo De Peixe,PT,71.11,few clouds,37.8000,-25.5833,Quinta das Giestas
283,Tomatlan,MX,80.89,overcast clouds,19.9333,-105.2500,El Salvial
284,Tateyama,JP,77.09,clear sky,34.9833,139.8667,Tateyama Seaside Hotel

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df [["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig.add_layer(heat_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Medicine Hat']
vacation_end = vacation_df.loc[vacation_df['City']== 'Medicine Hat']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Thompson']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Sioux Lookout']
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'La Ronge']

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_directions= gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Medicine Hat,CA,84.63,smoke,50.0501,-110.6683,Ramada Limited Medicine Hat
1,Thompson,CA,82.56,few clouds,55.7435,-97.8558,Burntwood Hotel
2,Sioux Lookout,CA,75.27,broken clouds,50.1001,-91.9170,Knobby's Fly-In Camps
3,La Ronge,CA,77.25,smoke,55.1001,-105.2842,Northland Motor Hotel

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))